body{background-color: red;
    background-image: 'b.png';
}
h1 { align-items: center;color: yellow;

}
h2 { align-items: center;color: yellow;

}
h3 { align-items: center;color: yellow;

}
h4 { align-items: center;
    color: yellow;

}
